
<section class="entire-component flex flex-col justify-center gap-12 py-16 px-24 xl:px-48 2xl:px-56 w-full h-full bg-bg-primary theme-{{selectedTheme}}">

    @if (!isTimerActive) {
      <div class="animate-this opacity-0 top flex flex-col gap-4">
        <span class="G-Light text-xl text-text-primary tracking-tight">Hello There</span>
    
        <span class="G-Medium text-5xl text-accent tracking-tight">Hello There</span>
      </div>
    }
  
    @if (showResults) {
      <div class="flex flex-col items-center justify-center gap-12">
        <div class="results w-full flex items-center justify-center gap-12">
          <div class="flex flex-col items-center gap-3">
            <span class="G-Regular text-xl text-text-primary">WPM</span>
            <span class="G-SemiBold text-6xl text-accent">{{calculatedWPM}}</span>
          </div>
    
          <div class="flex flex-col items-center gap-3">
            <span class="G-Regular text-xl text-text-primary">Accuracy</span>
            <span class="G-SemiBold text-6xl text-accent">{{calculatedAccuracy | number:'1.0-0'}}%</span>
          </div>
        </div>
  
        @if (this.showResults) {
          <span (click)="restartGame()" class="options relative py-2 rounded-lg flex items-center justify-center G-SemiBold tracking-tight text-text-primary cursor-pointer ">Reset Game</span>
        }
      </div>

    }@else {
      <div class="animate-this opacity-0 flex flex-col items-center gap-4 w-full">
  
        @if (!isTimerActive) {
          <div class="time-list flex items-center gap-3">
            @for (item of time; track $index) {
              <button (click)="changeTime(item)" [ngClass]="{'text-accent G-SemiBold': item === timeLeft, 'text-text-primary': item !== timeLeft}" class="single-time cursor-pointer">{{item}}</button>
            }
          </div>
        }

        <span class="timer-container text-5xl G-SemiBold text-accent">{{timeLeft}}</span>
    
    
        <div id="words-wrapper" class="words-wrapper relative w-full h-[133px] overflow-hidden border-text-secondary">
          <div class="words h-fit pb-2 flex flex-wrap w-full content-start">
            @for (word of oneWord; track $index) {
              <div #word [class]="`word word-track-${$index} relative text-3xl G-SemiBold my-1 mx-1.5`">
                @for (char of word; track $index) {
                  <span [ngClass]="{
                          'text-accent opacity-100': char.status === 'correct',
                          'text-red-500 opacity-100 underline': char.status === 'incorrect',
                          'text-text-primary opacity-25': char.status === 'untyped' || char.status === 'active',
                          'cursor': char.status === 'active'
                        }" class="char">{{char.char}}</span>
                }
              </div>
            }
          </div>
            
        </div>

        <input type="text" (input)="onInput($event)" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" class="absolute pointer-events-none w-auto opacity-0 h-auto top-[40%] z-[-1] left-0 bg-transparent border-none outline-none G-SemiBold text-text-primary cursor-text" #inputRef>

    
    
        <!-- @if (this.showResults) {
          <button (click)="restartGame()" class="w-fit px-4 py-2 rounded-lg flex items-center justify-center G-SemiBold tracking-tight text-text-primary cursor-pointer ">Reset Game</button>
        } -->
    
      </div>
    }
  
    @if (!isTimerActive) {
  
      <!-- <div class="flex w-full items-center justify-between">
        <div class="theme-selector flex gap-4">
          @for (item of themes; track $index) {
            <div 
              (click)="onThemeChange(item)" 
              class="theme cursor-pointer G-Regular text-sm tracking-tight"
              [ngClass]="{'text-text-primary': item !== selectedTheme, 'text-accent G-Bold': item === selectedTheme}">
              {{item}}
            </div>
              }
      
        </div>
    
    
        <span class="text-text-primary hover:text-accent cursor-pointer" (click)="toggleMultiplayerDialog()">Multiplayer Mode!</span> 
      </div> -->
  
    }
    
  </section>
  
  
    