
<router-outlet></router-outlet>

<!-- <section class="entire-component relative flex flex-col items-center justify-center gap-6 py-16 px-24 w-full h-full bg-bg-primary">
  <span [ngClass]="{'glowing-effect': textAnimationComplete === true }" class="main-txt text-9xl font-extrabold tracking-tight text-center M-Regular text-accent"></span>

  <div class="button-holder opacity-0 flex items-center gap-12">
    <span routerLink="game" class="options relative text-text-primary cursor-pointer G-SemiBold text-lg  text-center py-1">Local</span>
    <span (click)="toggleMultiplayerDialog()" class="options relative text-text-primary cursor-pointer G-SemiBold text-lg  text-center py-1">Multiplayer</span>
  </div>

</section> -->


<div class="absolute animate-this opacity-0 bottom-8 flex items-center justify-between w-full px-16">
  <div class="left text-accent G-Medium text-sm tracking-tight">Made by Daniel Glover w/ love ❤️</div>


  <div class="theme-selector flex gap-4">
    @for (item of themeService.availableThemes; track $index) {
      <div 
        (click)="changeTheme(item.className)" 
        class="theme cursor-pointer G-Regular text-sm tracking-tight"
        [ngClass]="{'text-text-primary': item.className !== selectedTheme.className, 'text-accent G-Bold': item.className === selectedTheme.className}">
        {{item.name}}
      </div>
        }

  </div>
</div>

<app-toast id="toast" [selectedTheme]="selectedTheme.className" class="flex items-center justify-center lg:justify-end" [header]="toastHeader" [message]="toastMessage"></app-toast>
